* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -os-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
      perspective: 400px;
      outline: none !important;
      text-transform: capitalize !important;
  }
  body {
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
  }
  
  /*start variables elements to this site*/
  /*
    $pry-co: #00FFC6;
  $sec-co: #ff5500;
    $bg-co: #30AADD;
  */
  /*declare site color*/
  $pry-co: #000;
  $sec-co: #F79E02;
    $bg-co: #0074e1;
    
    $tit-co:#ffffff;
  $h-font: 20px;
  $p-font: 14px;

  /*end site elements color*/
  
  %main-div {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  %over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6) !important;
  }
  %button {
    margin: 20px auto; 
    width: 120px;
    padding: 8px;
    background-color: $pry-co;
    color: $bg-co;
    outline: none;
    cursor: pointer;
  }
    
    // %h-after {
    //   content: ""; 
    //   position: absolute;
    //   height: 54px;
    //   border: 3px solid #08d9d6;
    //   left: 0px;
    //   top: 6px;
    // }
 
  
  @mixin transition($t) {
    -webkit-transition: all $t ease-in-out;
    -moz-transition: all $t ease-in-out;
    -ms-transition: all $t ease-in-out;
    -o-transition: all $t ease-in-out;
    transition: all $t ease-in-out; 
  }
  
  @mixin border-R($b) {
    -webkit-border-radius: $b;
    -moz-border-radius: $b;
    -ms-border-radius: $b;
    -o-border-radius: $b;
    border-radius: $b;
  }
  

// end Scss Framework
  
%heading { 
  font-weight: bold;
  display:inline-block;    
  &::after{  
    position: absolute;  
    content:"";
    bottom:2px;            
    left: 0; 
    right: 0;
    height: 15px;
    @include border-R(10px 5px);
    background-color:$sec-co;
    z-index: -1;
  }
}  