
body{
    overflow: hidden;
}
.nav{
    z-index: 100;
    background-color:#000 !important;

}
.nav .logo{
    height: 35px;
}
.nav a{
   font-size: 1.2rem;
}
.main_container{
    display: grid;
    place-items: center;
    background-color:#fff;
    position: absolute;
    height:100vh; 
    width: 100vw;
    z-index:1000;
    top: 0; 
    left: 0;
    overflow: hidden;
 }
  .loading{
       position: relative;
       border: 10px solid #f3f3f3;
       border-top: 10px solid #3498db;
       border:10px solid #f3f3f3;
       border-top: 10px solid #3498db;
    
       z-index: 1060;
       /*display: block !important;
        */
}

.active{
    background-color: red !important;
 }